MercuryClassLibrary/Connected Services/ApplicationManagementService/ApplicationManagementService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns="http://api.vetrf.ru/schema/cdm/application/service" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:bsdef="http://api.vetrf.ru/schema/cdm/base/ws-definitions" xmlns:def="http://api.vetrf.ru/schema/cdm/application/ws-definitions" name="ApplicationManagementService" targetNamespace="http://api.vetrf.ru/schema/cdm/application/service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema>
      <xs:import schemaLocation="application_ws_definitions_v1.1.xsd" namespace="http://api.vetrf.ru/schema/cdm/application/ws-definitions" />
      <xs:import schemaLocation="base_ws_definitions_v1.1.xsd" namespace="http://api.vetrf.ru/schema/cdm/base/ws-definitions" />
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="SubmitApplicationRequest">
    <wsdl:part name="request" element="def:submitApplicationRequest" />
  </wsdl:message>
  <wsdl:message name="SubmitApplicationResponse">
    <wsdl:part name="response" element="def:submitApplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ReceiveApplicationResultRequest">
    <wsdl:part name="request" element="def:receiveApplicationResultRequest" />
  </wsdl:message>
  <wsdl:message name="ReceiveApplicationResultResponse">
    <wsdl:part name="response" element="def:receiveApplicationResultResponse" />
  </wsdl:message>
  <wsdl:message name="ApplicationNotFoundFault">
    <wsdl:part name="fault" element="bsdef:entityNotFoundFault" />
  </wsdl:message>
  <wsdl:message name="InternalServiceFault">
    <wsdl:part name="fault" element="bsdef:internalServiceFault" />
  </wsdl:message>
  <wsdl:message name="IncorrectRequestFault">
    <wsdl:part name="fault" element="bsdef:incorrectRequestFault" />
  </wsdl:message>
  <wsdl:message name="AccessDeniedFault">
    <wsdl:part name="fault" element="bsdef:accessDeniedFault" />
  </wsdl:message>
  <wsdl:message name="UnsupportedApplicationDataTypeFault">
    <wsdl:part name="fault" element="def:unsupportedApplicationDataTypeFault" />
  </wsdl:message>
  <wsdl:message name="UnknownServiceIdFault">
    <wsdl:part name="fault" element="def:unknownServiceIdFault" />
  </wsdl:message>
  <wsdl:portType name="ApplicationManagementServicePortType">
    <wsdl:operation name="submitApplicationRequest">
      <wsdl:input message="tns:SubmitApplicationRequest" />
      <wsdl:output message="tns:SubmitApplicationResponse" />
      <wsdl:fault name="unsupportedApplicationDataTypeFault" message="tns:UnsupportedApplicationDataTypeFault" />
      <wsdl:fault name="unknownServiceIdFault" message="tns:UnknownServiceIdFault" />
      <wsdl:fault name="internalServiceFault" message="tns:InternalServiceFault" />
      <wsdl:fault name="incorrectRequestFault" message="tns:IncorrectRequestFault" />
      <wsdl:fault name="accessDeniedFault" message="tns:AccessDeniedFault" />
    </wsdl:operation>
    <wsdl:operation name="receiveApplicationResult">
      <wsdl:input message="tns:ReceiveApplicationResultRequest" />
      <wsdl:output message="tns:ReceiveApplicationResultResponse" />
      <wsdl:fault name="applicationNotFoundFault" message="tns:ApplicationNotFoundFault" />
      <wsdl:fault name="internalServiceFault" message="tns:InternalServiceFault" />
      <wsdl:fault name="incorrectRequestFault" message="tns:IncorrectRequestFault" />
      <wsdl:fault name="accessDeniedFault" message="tns:AccessDeniedFault" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ApplicationManagementServiceBinding" type="tns:ApplicationManagementServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="submitApplicationRequest">
      <soap:operation soapAction="submitApplicationRequest" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="unsupportedApplicationDataTypeFault">
        <soap:fault use="literal" name="unsupportedApplicationDataTypeFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="unknownServiceIdFault">
        <soap:fault use="literal" name="unknownServiceIdFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="internalServiceFault">
        <soap:fault use="literal" name="internalServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="incorrectRequestFault">
        <soap:fault use="literal" name="incorrectRequestFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="accessDeniedFault">
        <soap:fault use="literal" name="accessDeniedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="receiveApplicationResult">
      <soap:operation soapAction="receiveApplicationResult" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="applicationNotFoundFault">
        <soap:fault use="literal" name="applicationNotFoundFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="internalServiceFault">
        <soap:fault use="literal" name="internalServiceFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="incorrectRequestFault">
        <soap:fault use="literal" name="incorrectRequestFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="accessDeniedFault">
        <soap:fault use="literal" name="accessDeniedFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>