MercuryClassLibrary/Connected Services/ApplicationManagementService/application_v1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:apl="http://api.vetrf.ru/schema/cdm/application" xmlns:bs="http://api.vetrf.ru/schema/cdm/base" elementFormDefault="qualified" targetNamespace="http://api.vetrf.ru/schema/cdm/application" version="2.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="base_v1.1.xsd" namespace="http://api.vetrf.ru/schema/cdm/base" />
  <xs:element name="application" type="apl:Application" />
  <xs:element abstract="true" name="applicationData" type="apl:ApplicationData" />
  <xs:element abstract="true" name="applicationResultData" type="apl:ApplicationResultData" />
  <xs:element name="businessError" type="apl:BusinessError" />
  <xs:element name="errorList" type="apl:BusinessErrorList" />
  <xs:element name="binary" type="apl:BinaryContent" />
  <xs:complexType name="Application">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="applicationId" type="bs:UUID" />
      <xs:element minOccurs="0" maxOccurs="1" name="status" type="apl:ApplicationStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="serviceId" type="xs:Name" />
      <xs:element minOccurs="0" maxOccurs="1" name="issuerId" type="bs:UUID" />
      <xs:element minOccurs="0" maxOccurs="1" name="issueDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="rcvDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="prdcRsltDate" type="xs:dateTime" />
      <xs:element minOccurs="0" maxOccurs="1" name="data" type="apl:ApplicationDataWrapper" />
      <xs:element minOccurs="0" maxOccurs="1" name="result" type="apl:ApplicationResultWrapper" />
      <xs:element minOccurs="0" maxOccurs="1" name="errors" type="apl:BusinessErrorList" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ApplicationStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACCEPTED" />
      <xs:enumeration value="IN_PROCESS" />
      <xs:enumeration value="COMPLETED" />
      <xs:enumeration value="REJECTED" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ApplicationDataWrapper">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="1" processContents="strict" />
    </xs:sequence>
    <xs:attribute name="encoding" type="apl:ContentEncoding" use="optional" />
  </xs:complexType>
  <xs:complexType name="ApplicationResultWrapper">
    <xs:sequence>
      <xs:any minOccurs="0" maxOccurs="1" processContents="strict" />
    </xs:sequence>
    <xs:attribute name="encoding" type="apl:ContentEncoding" use="optional" />
  </xs:complexType>
  <xs:complexType name="ApplicationData" abstract="true" />
  <xs:complexType name="ApplicationResultData" abstract="true" />
  <xs:complexType name="BusinessErrorList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="error" type="apl:BusinessError" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessError">
    <xs:simpleContent>
      <xs:extension base="bs:Error" />
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="APIKey">
    <xs:restriction base="xs:string" />
  </xs:simpleType>
  <xs:simpleType name="ContentEncoding">
    <xs:restriction base="xs:token">
      <xs:enumeration value="plain" />
      <xs:enumeration value="gzip" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="BinaryContent">
    <xs:restriction base="xs:base64Binary" />
  </xs:simpleType>
</xs:schema>