MercuryClassLibrary/Connected Services/ApplicationManagementService/document_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:dt="http://api.vetrf.ru/schema/cdm/dictionary/v2" xmlns:bs="http://api.vetrf.ru/schema/cdm/base" xmlns:vd="http://api.vetrf.ru/schema/cdm/mercury/vet-document/v2" elementFormDefault="qualified" targetNamespace="http://api.vetrf.ru/schema/cdm/mercury/vet-document/v2" version="2.0-beta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="base_v1.1.xsd" namespace="http://api.vetrf.ru/schema/cdm/base" />
  <xs:import schemaLocation="dictionary_v2.0.xsd" namespace="http://api.vetrf.ru/schema/cdm/dictionary/v2" />
  <xs:element name="vetDocumentUuid" type="bs:UUID" />
  <xs:element name="stockEntryUuid" type="bs:UUID" />
  <xs:element name="vetDocumentType" type="vd:VetDocumentType" />
  <xs:element name="vetDocumentStatus" type="vd:VetDocumentStatus" />
  <xs:element name="vetDocument" type="vd:VetDocument" />
  <xs:element name="vetDocumentList" type="vd:VetDocumentList" />
  <xs:element name="stockEntry" type="vd:StockEntry" />
  <xs:element name="stockEntryList" type="vd:StockEntryList" />
  <xs:element name="stockEntryEventList" type="vd:StockEntryEventList" />
  <xs:element name="deliveryParticipant" type="dt:BusinessMember" />
  <xs:element name="shipmentRoute" type="vd:ShipmentRoute" />
  <xs:element name="r13nRouteSection" type="vd:RouteSectionR13nRules" />
  <xs:element name="user" type="vd:User" />
  <xs:element name="userList" type="vd:UserList" />
  <xs:element name="authorityList" type="vd:AuthorityList" />
  <xs:complexType name="VetDocument">
    <xs:annotation>
      <xs:documentation>Ветеринарный сопроводительный документ.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:Document">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="vetDForm" type="vd:VetDocumentForm">
            <xs:annotation>
              <xs:documentation>Форма ВСД.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="vetDType" type="vd:VetDocumentType">
            <xs:annotation>
              <xs:documentation>Тип ВСД.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="vetDStatus" type="vd:VetDocumentStatus">
            <xs:annotation>
              <xs:documentation>Статус ВСД на момент подписания.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="finalized" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Флаг того, что сертификат закрыт.
                        Имеет смысл только для производственных сертификатов в статусе "Оформлен" (CONFIRMED).
                        В случае незавершенного производства оформленный производственный сертификат остаётся незакрытым
                        до момента завершения производства (до завершения производственной транзакции).
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="lastUpdateDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>
                        Дата и время последнего обновления сертификата.
                        Дата обновления изменяется при изменении статуса сертификата,
                        а также при обновлении объёма производственного сертификата в случае незавершенного производства.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element minOccurs="0" maxOccurs="1" name="certifiedBatch" type="vd:CertifiedBatch">
              <xs:annotation>
                <xs:documentation>Сертифицированная партия. Элемент заполняется для производственного сертификата.
                        </xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="certifiedConsignment" type="vd:CertifiedConsignment">
              <xs:annotation>
                <xs:documentation>Сертифицированная партия. Элемент заполняется для транспортного сертификата.
                        </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="authentication" type="vd:VeterinaryAuthentication">
            <xs:annotation>
              <xs:documentation>Результаты осмотра/исследований партии. Заключение ветеринарного врача/специалиста.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="precedingVetDocuments" type="bs:String255">
            <xs:annotation>
              <xs:documentation>DEPRECATED. Сведения о предыдущих ветеринарных сопроводительных документах.
                        Поле не используется на запись, вместо него см.referencedDocument.
                        Используется для отображения информации о предыдущих документах в старых версиях ВСД (или ВСД,
                        оформленных через web).
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="referencedDocument" type="vd:ReferencedDocument">
            <xs:annotation>
              <xs:documentation>Сведения о ветеринарном разрешении управления ветеринарии субъекта РФ на
                        перемещение продукции в другой субъект.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="statusChange" type="vd:VetDocumentStatusChange">
            <xs:annotation>
              <xs:documentation>Сведения об установлении статуса ветеринарного документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Batch">
    <xs:annotation>
      <xs:documentation>Тип, описывающий партию груза.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="productType" type="dt:ProductType">
        <xs:annotation>
          <xs:documentation>Тип продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="product" type="dt:Product">
        <xs:annotation>
          <xs:documentation>Продукция.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="subProduct" type="dt:SubProduct">
        <xs:annotation>
          <xs:documentation>Вид продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="productItem" type="dt:ProductItem">
        <xs:annotation>
          <xs:documentation>Наименование продукции согласно номенклатуре владельца партии (склада).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="volume" type="bs:Decimal">
        <xs:annotation>
          <xs:documentation>Объём груза.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unit" type="dt:Unit">
        <xs:annotation>
          <xs:documentation>Единица измерения объёма груза.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="dateOfProduction" type="vd:GoodsDate">
        <xs:annotation>
          <xs:documentation>Дата производства (выработки).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="expiryDate" type="vd:GoodsDate">
        <xs:annotation>
          <xs:documentation>Дата окончания срока годности.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="batchID" type="bs:Identifier">
        <xs:annotation>
          <xs:documentation>Уникальный идентификатор производственной партии продукции.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="perishable" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Скоропортящаяся продукция.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="origin" type="vd:BatchOrigin">
        <xs:annotation>
          <xs:documentation>Сведения о происхождении продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="lowGradeCargo" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Является ли продукция некачественной.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="packageList" type="dt:PackageList">
        <xs:annotation>
          <xs:documentation>Описание физической упаковки.
                  Поддерживается указание многоуровневой упаковки и маркировки партии продукции.
                  См. описание типа vd:Package.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="owner" type="dt:BusinessEntity">
        <xs:annotation>
          <xs:documentation>Собственник продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Consignment">
    <xs:annotation>
      <xs:documentation>Тип, описывающий транспортную партию груза.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:Batch">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="sourceStockEntry" type="vd:StockEntry">
            <xs:annotation>
              <xs:documentation>Запись журнала, из которой формируется транспортная партия.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="optional">
          <xs:annotation>
            <xs:documentation>Идентификатор, определяющий consignment в запросе.
                     Должен быть указан, если запрос содержит несколько элементов consignment.
                  </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="partOf" type="xs:IDREF" use="optional">
          <xs:annotation>
            <xs:documentation>Ссылка на consignment в разделе delivery запроса.
                     Должен быть указан, если запрос содержит несколько элементов consignment.
                  </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RawBatch">
    <xs:annotation>
      <xs:documentation>Тип, описывающий сырьё для производственной партии.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="sourceStockEntry" type="vd:StockEntry">
        <xs:annotation>
          <xs:documentation>
                  Запись журнала, которая используется в качестве сырья. Должен быть указан обязательно.
                  В случае, если сырьё указывается для незавершенной производственной транзакции,
                  следующие поля (volume, unit, packingList, packingAmount) могут быть не заполнены
                  до окончательного завершения транзакции (см. ProductionOperation/finalizeOperation),
                  если отсутствует возможность точно определить использованный объём в момент выпуска партии продукции.
                  Таким образом, в ещё не закрытом производственном сертификате уже будет указано использованное сырьё
                  без указания конкретного объёма, т.е. реализована прослеживаемость.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="volume" type="bs:Decimal">
        <xs:annotation>
          <xs:documentation>Объём сырья.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="unit" type="dt:Unit">
        <xs:annotation>
          <xs:documentation>Единица измерения объёма груза.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="packageList" type="dt:PackageList">
        <xs:annotation>
          <xs:documentation>Описание физической упаковки партии продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductiveBatch">
    <xs:annotation>
      <xs:documentation>Тип, описывающий транспортную партию груза.
            При оформлении незавершенного производства важно: если очередной запрос RegisterProductionOperationRequest
            содержит сведения о выработанной продукции с указанным номером партии (Batch/batchID)),
            и ранее в рамках этой же производственной транзакции уже была оформлена выработанная продукция с тем же
            номером партии,
            то вновь выработанный объём продукции будет оприходован на ту же запись складского журнала с увеличением её
            объёма
            (т.е. будет выполнено автоматическое присоединение записей журнала, guid записи журнала останется прежним).
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:Batch">
        <xs:attribute name="id" type="xs:ID" use="optional">
          <xs:annotation>
            <xs:documentation>Идентификатор, определяющий batch в запросе.
                     Должен быть указан, если запрос содержит несколько элементов batch.
                     Если в запросе указано более одной производственной партии, то сведения для оформления ВСД
                     (элемент vetDocument) могут совпадать для этих производственных партий или отличаться.
                     Если сведения совпадаются, то в запросе указывается единственный элемент vetDocument,
                     иначе указывается несколько, по одному на каждый элемент productiveBatch.
                     При этом значение атрибута for элемента vetDocument совпадает
                     со значением атрибута id соответствующего элемента productiveBatch.
                  </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Delivery">
    <xs:annotation>
      <xs:documentation>Тип, описывающий поставку.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:GenericEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="deliveryDate" type="xs:dateTime" />
          <xs:element minOccurs="0" maxOccurs="1" name="consignor" type="dt:BusinessMember">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе (владельце).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="consignee" type="dt:BusinessMember">
            <xs:annotation>
              <xs:documentation>Сведения о получателе груза.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="consignment" type="vd:Consignment">
            <xs:annotation>
              <xs:documentation>Сведения о транспортной партии.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="broker" type="dt:BusinessEntity">
            <xs:annotation>
              <xs:documentation>Сведения о фирме-посреднике.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="transportInfo" type="vd:TransportInfo">
            <xs:annotation>
              <xs:documentation>Сведения о транспорте.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="transportStorageType" type="dt:TransportationStorageType">
            <xs:annotation>
              <xs:documentation>Способ хранения при перевозке.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="shipmentRoute" type="vd:ShipmentRoute">
            <xs:annotation>
              <xs:documentation>Сведения о маршруте следования (пунктах перегрузки).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="accompanyingForms" type="vd:ConsignmentDocumentList">
            <xs:annotation>
              <xs:documentation>Сопроводительные документы.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DeliveryFactList">
    <xs:annotation>
      <xs:documentation>Сведения о контроле партии.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="vetCertificatePresence" type="dt:DocumentNature" />
      <xs:element minOccurs="1" maxOccurs="1" name="docInspection" type="vd:DeliveryInspection" />
      <xs:element minOccurs="1" maxOccurs="1" name="vetInspection" type="vd:DeliveryInspection" />
      <xs:element minOccurs="1" maxOccurs="1" name="decision" type="vd:DeliveryDecision" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DeliveryDecision">
    <xs:annotation>
      <xs:documentation>Решение по поставке.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bs:String255">
      <xs:enumeration value="ACCEPT_ALL">
        <xs:annotation>
          <xs:documentation>Принять всю поставку.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PARTIALLY">
        <xs:annotation>
          <xs:documentation>Принять часть груза, на оставшуюся оформить возврат.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RETURN_ALL">
        <xs:annotation>
          <xs:documentation>Оформить возврат на всю поставку.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DeliveryInspection">
    <xs:annotation>
      <xs:documentation>Контроль поставки (документарный, ветеринарный)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="responsible" type="vd:User" />
      <xs:element minOccurs="1" maxOccurs="1" name="result" type="vd:DeliveryInspectionResult" />
      <xs:element minOccurs="0" maxOccurs="1" name="info" type="bs:Text" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="DeliveryInspectionResult">
    <xs:annotation>
      <xs:documentation>Результат контроля поставки</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bs:String255">
      <xs:enumeration value="CORRESPONDS">
        <xs:annotation>
          <xs:documentation>Груз соответствует сведениям, заявленным в документах.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MISMATCH">
        <xs:annotation>
          <xs:documentation>Груз отличается от сведений, указанных в сопроводительных документах.
               </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UNSUPERVISED">
        <xs:annotation>
          <xs:documentation>Контроль не проводился.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ConsignmentDocumentList">
    <xs:annotation>
      <xs:documentation>Контроль поставки (документарный, ветеринарный)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="waybill" type="vd:Waybill" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vetCertificate" type="vd:VetDocument" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="relatedDocument" type="vd:ReferencedDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GoodsDate">
    <xs:annotation>
      <xs:documentation>С версии 2.0 указание даты строкой (элемент informalDate) в запросах не допускается.
            В ответах сервиса дата строкой может присутствовать для старых вет.сертификатов/записей складского журнала.
         </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="firstDate" type="dt:ComplexDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="secondDate" type="dt:ComplexDate" />
      <xs:element minOccurs="0" maxOccurs="1" name="informalDate" type="bs:String255" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VetDocumentForm">
    <xs:annotation>
      <xs:documentation>Тип, описывающий форму ВСД.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bs:String255">
      <xs:enumeration value="CERTCU1">
        <xs:annotation>
          <xs:documentation>Форма 1 ветеринарного сертификата ТС</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LIC1">
        <xs:annotation>
          <xs:documentation>Форма 1 ветеринарного свидетельства</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CERTCU2">
        <xs:annotation>
          <xs:documentation>Форма 2 ветеринарного сертификата ТС</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LIC2">
        <xs:annotation>
          <xs:documentation>Форма 2 ветеринарного свидетельства</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CERTCU3">
        <xs:annotation>
          <xs:documentation>Форма 3 ветеринарного сертификата ТС</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LIC3">
        <xs:annotation>
          <xs:documentation>Форма 3 ветеринарного свидетельства</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOTE4">
        <xs:annotation>
          <xs:documentation>Форма 4 ветеринарной справки</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CERT5I">
        <xs:annotation>
          <xs:documentation>Форма 5i ветеринарного сертификата</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CERT61">
        <xs:annotation>
          <xs:documentation>Форма 6.1 ветеринарного сертификата</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CERT62">
        <xs:annotation>
          <xs:documentation>Форма 6.2 ветеринарного сертификата</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CERT63">
        <xs:annotation>
          <xs:documentation>Форма 6.3 ветеринарного сертификата</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRODUCTIVE">
        <xs:annotation>
          <xs:documentation>Форма производственного ветеринарного сертификата</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VetDocumentList">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список ВСД.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:EntityList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vetDocument" type="vd:VetDocument" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VetDocumentType">
    <xs:annotation>
      <xs:documentation>Тип ветсертификата.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bs:String255">
      <xs:enumeration value="TRANSPORT">
        <xs:annotation>
          <xs:documentation>Транспортный</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="PRODUCTIVE">
        <xs:annotation>
          <xs:documentation>Производственный</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="RETURNABLE">
        <xs:annotation>
          <xs:documentation>Возвратный</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="INCOMING">
        <xs:annotation>
          <xs:documentation>Входящий</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="OUTGOING">
        <xs:annotation>
          <xs:documentation>Исходящий</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="VetDocumentStatus">
    <xs:annotation>
      <xs:documentation>Статус ветсертификата.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bs:String255">
      <xs:enumeration value="CREATED">
        <xs:annotation>
          <xs:documentation>Создан. Неоформленный проект сертификата</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="CONFIRMED">
        <xs:annotation>
          <xs:documentation>Оформлен. Действующий сертификат, по которому разрешено совершать транзакцию с
                  грузом.
               </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="WITHDRAWN">
        <xs:annotation>
          <xs:documentation>Аннулирован. Не действующий более сертификат.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="UTILIZED">
        <xs:annotation>
          <xs:documentation>Погашен. Действующий сертификат, по которому транзакция уже была совершена.
               </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="FINALIZED">
        <xs:annotation>
          <xs:documentation>Закрыт. Действующий производственный сертификат.
                  Статус проставляется при завершении производственной смены, изменение финализированного вет.сертификата не допускается.
                  Статус `FINALIZED` не используется в атрибуте `vetDStatus` сертификата, признак того, что производственный сертификат финализирован
                  определяется логическим атрибутом `finalized` сертификата. При этом сертификат всегда находится в статусе `CONFIRMED`.
               </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AnimalSpentPeriod">
    <xs:annotation>
      <xs:documentation>Сколько времени животные находились на территории ТС.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bs:String255">
      <xs:enumeration value="FROM_BIRTH">
        <xs:annotation>
          <xs:documentation>Животные находились на территории ТС с рождения</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOT_LESS_SIX_MONTHS">
        <xs:annotation>
          <xs:documentation>Животные находились на территории ТС не менее 6 месяцев</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IN_MONTHS">
        <xs:annotation>
          <xs:documentation>Животные находились на территории ТС указанное кол-во месяцев</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ZERO">
        <xs:annotation>
          <xs:documentation>Животные не находились на территории ТС</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="DiscrepancyReport">
    <xs:annotation>
      <xs:documentation>Акт о несоответствии.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:Document">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="reason" type="vd:DiscrepancyReason">
            <xs:annotation>
              <xs:documentation>Причина несоответствия.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="description" type="xs:string">
            <xs:annotation>
              <xs:documentation>Детальное описание.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="DiscrepancyReason">
    <xs:annotation>
      <xs:documentation>Причина несоответствия.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:GenericEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Название причины.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StockEntry">
    <xs:annotation>
      <xs:documentation>Тип, описывающий cведения о записи журнала продукции.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:GenericVersioningEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="entryNumber" type="vd:StockEntryNumber">
            <xs:annotation>
              <xs:documentation>Номер записи в складском журнале Меркурия.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="batch" type="vd:Batch">
            <xs:annotation>
              <xs:documentation>Сведения о партии продукции.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vetDocument" type="vd:VetDocument">
            <xs:annotation>
              <xs:documentation>Реквизиты ветеринарного сопроводительного документа, сертифицирующего партию.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="vetEventList" type="vd:StockEntryEventList">
            <xs:annotation>
              <xs:documentation>Список мероприятий с партией продукции.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StockEntryList">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список записей журнала.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:EntityList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stockEntry" type="vd:StockEntry" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StockDiscrepancy">
    <xs:annotation>
      <xs:documentation>Операция внесения изменений в реестр предприятий.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="affectedList" type="vd:StockEntryList">
        <xs:annotation>
          <xs:documentation>Входящие записи для операции. Deprecated.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="resultingList" type="vd:StockEntryList">
        <xs:annotation>
          <xs:documentation>Получаемые в результате операции записи.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reason" type="xs:string">
        <xs:annotation>
          <xs:documentation>Причина несоответствия.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional">
      <xs:annotation>
        <xs:documentation>Идентификатор, определяющий stockDiscrepancy в запросе.
               Должен быть указан, если запрос содержит несколько элементов stockDiscrepancy.
            </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:simpleType name="StockEntryNumber">
    <xs:annotation>
      <xs:documentation>Тип номера записи складского журнала.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d+" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="StockEntrySearchPattern">
    <xs:complexContent mixed="false">
      <xs:extension base="vd:StockEntry">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="blankFilter" type="vd:StockEntryBlankFilter">
            <xs:annotation>
              <xs:documentation>Фильтр по объёму записи складского журнала. Значение по умолчанию -- ALL.
                        См. тип StockEntryBlankFilter.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="StockEntryBlankFilter">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ALL">
        <xs:annotation>
          <xs:documentation>Все записи журнала, вне зависимости от объёма.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="BLANK">
        <xs:annotation>
          <xs:documentation>Записи журнала с нулевым объёмом.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="NOT_BLANK">
        <xs:annotation>
          <xs:documentation>Записи журнала с ненулевым объёмом.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Document">
    <xs:annotation>
      <xs:documentation>Документ.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:GenericEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="name" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Название документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="form" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Форма документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="issueSeries" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Серия документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="issueNumber" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Номер документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="issueDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>Дата документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="type" type="dt:DocumentType">
            <xs:annotation>
              <xs:documentation>Тип документа.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="issuer" type="dt:Organization">
            <xs:annotation>
              <xs:documentation>Организация, оформившая документ.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="for" type="xs:IDREF" use="optional">
          <xs:annotation>
            <xs:documentation>Опциональная ссылка на связанный элемент. Например, ссылка на consignment в запросе.
                  </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="qualifier" type="bs:Identifier" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Waybill">
    <xs:annotation>
      <xs:documentation>Товарно-транспортная накладная.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:Document">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="consignor" type="dt:BusinessMember">
            <xs:annotation>
              <xs:documentation>Сведения об отправителе (владельце).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="consignee" type="dt:BusinessMember">
            <xs:annotation>
              <xs:documentation>Сведения о получателе груза.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="broker" type="dt:BusinessEntity">
            <xs:annotation>
              <xs:documentation>Сведения о фирме-посреднике.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="transportInfo" type="vd:TransportInfo">
            <xs:annotation>
              <xs:documentation>Сведения о транспорте.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="transportStorageType" type="dt:TransportationStorageType">
            <xs:annotation>
              <xs:documentation>Способ хранения при перевозке.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="shipmentRoute" type="vd:ShipmentRoute">
            <xs:annotation>
              <xs:documentation>Сведения о маршруте следования (пунктах перегрузки).</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="TransportInfo">
    <xs:annotation>
      <xs:documentation>Тип, описывающий информацию о транспорте.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="transportType" type="dt:TransportType">
        <xs:annotation>
          <xs:documentation>Тип транспортного средства.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="transportNumber" type="vd:TransportNumber">
        <xs:annotation>
          <xs:documentation>Номера т/с.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TransportNumber">
    <xs:annotation>
      <xs:documentation>Номер транспортного средства.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="containerNumber" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Номер контейнера.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="wagonNumber" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Номер авиарейса.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="vehicleNumber" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Номер автомобиля.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="trailerNumber" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Номер прицепа (полуприцепа).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="shipName" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Название судна.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="flightNumber" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Номер авиарейса.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ShipmentRoutePoint">
    <xs:annotation>
      <xs:documentation>Сведения о точке маршрута</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:GenericEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="sqnId" type="bs:SequenceNumber">
            <xs:annotation>
              <xs:documentation>Порядовый номер точки маршрута.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice minOccurs="0" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="location" type="dt:Location">
              <xs:annotation>
                <xs:documentation>Название пункта перегрузки.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="enterprise" type="dt:Enterprise">
              <xs:annotation>
                <xs:documentation>Название пункта перегрузки.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="transshipment" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Признак того, осуществляется ли в данной точке перегрузка.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="nextTransport" type="vd:TransportInfo">
            <xs:annotation>
              <xs:documentation>Сведения о дальнейшем транспорте.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ShipmentRoute">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список пунктов перегрузки груза.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="routePoint" type="vd:ShipmentRoutePoint" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProductionOperation">
    <xs:annotation>
      <xs:documentation>Тип, описывающий производственную операцию.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="operationId" type="bs:Identifier">
        <xs:annotation>
          <xs:documentation>Идентификатор производственной транзакции (производственная смена, сутки и т.п.).
                  Важно, что в рамках одной производственной транзакции всё указанное сырьё
                  будет соотнесено со всеми выработанными партиями продукции.
                  Сведения о списанном в производство сырье и произведенных партиях продукции
                  для транзакции с определенным operationId могут быть переданы в нескольких запросах
                  RegisterProductiveBatchRequest.
                  Если operationId в запросе не указан, то такая транзакция будет завершена автоматически
                  по результам выполнения запроса. Т.е. в этом случае формат запроса и поведение системы аналогичны
                  версии Ветис API v1.3.
                  Важно, внесенные сведения о списанном в производство сырье и произведенных партиях продукции
                  невозможно отредактировать очередным запросом RegisterProductiveBatchRequest с тем же идентификатором
                  производственной транзакции. Сведения, указанные в каждом следующем запросе будут добавлены к
                  производственной транзакции.
                  Запрос будет отклонен, если транзакция с указанным в operationId идентификатором завершена.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="rawBatch" type="vd:RawBatch">
        <xs:annotation>
          <xs:documentation>Партия сырья.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="productiveBatch" type="vd:ProductiveBatch">
        <xs:annotation>
          <xs:documentation>Производственная партия.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="finalizeOperation" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Флаг, который определяет, что по результатам выполнения запроса
                  производственная транзакция с идентификатором, указанным в элементе operationId,
                  будет завершена (finalizeOperation=TRUE). После того, как транзакция завершена,
                  внесение сведений о списанном в производство сырье и произведенных партиях продукции невозможно.
                  Флаг имеет смысл только при наличии элемента operationId в запросе, иначе игнорируется.
                  Транзакцию нельзя завершить, если для указанного сырья (rawBatch) суммарный списанный в производство
                  объём равен нулю.
                  Производственная транзакция должна быть завершена по окончанию технологического процесса производства.
                  Пока производственная транзакция остаётся незавершенной, все соответствующие ей производственные
                  сертификаты
                  на выработанный объём продукции будут оставаться незакрытыми.
                  При завершении производственной транзакции все соответствующие ей производственные сертификаты
                  на выработанный объём продукции автоматически закрываются.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="appliedProcess" type="vd:ProcessingProcedure">
        <xs:annotation>
          <xs:documentation>Технологический процесс/операция.
                  В случае отсутствия элемента `appliedProcess` по умолчанию принимается, что в процессе
                  производственной операции происходит (в скобках указано значение элемента `appliedProcess/type`):
                  1. Производство (37) - если в операции присутствует сырьё (`rawBatch`) и выработанная продукция (`productiveBatch`).
                  2. Убой (12) + Производство (37) - если в операции присутствует в качестве сырья живое животное (по значению `productType`),
                     а в качестве выработанной партии - продукция
                  3. Добыча (35) - если сырьё не используется, а в качестве выработанной партии - живое животное. Например, для вылова рыбы.
                  4. Добыча (35) + Производство (37) - если сырьё не используется, а в качестве выработанной партии - продукция.
                  5. Утилизация (101) - если сырьё присутствует в операции, а выработанной партии нет.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="MergeStockEntriesOperation">
    <xs:annotation>
      <xs:documentation>Тип, описывающий производственную операцию.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="type" type="bs:RegisterModificationType">
        <xs:annotation>
          <xs:documentation>Тип операции. Поддерживается два типа: MERGE и ATTACH.
                  Если элемент не указан, по умолчанию значение принимается равным MERGE.
                  В случае присоединения записей (ATTACH) главной записью журнала (к которой осуществляется присоединение),
                  будет считать первая запись sourceStockEntry из списка.
                  В случае присоединения элемент batch не указывается, результирующая запись журнала будет иметь
                  то же наименование продукции, что и главная. Объём и количество упаковок будет просуммировано,
                  виду упаковки, номера партий логически объединены в список.
                  Результирующая запись журнала продукции будет иметь тот же GUID, что и главная.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="2" maxOccurs="unbounded" name="sourceStockEntry" type="vd:StockEntry">
        <xs:annotation>
          <xs:documentation>Объединяемые записи журнала</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="resultStockEntry" type="vd:StockEntry">
        <xs:annotation>
          <xs:documentation>Партия, полученная в результате объединения.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PSLModificationOperation">
    <xs:annotation>
      <xs:documentation>Операция внесения изменений в реестр наименований продукции производителя.
         </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="bs:RegisterModificationType">
        <xs:annotation>
          <xs:documentation>Тип операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="affectedList" type="dt:ProductItemList">
        <xs:annotation>
          <xs:documentation>Входящие записи для операции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="resultingList" type="dt:ProductItemList">
        <xs:annotation>
          <xs:documentation>Получаемые в результате операции записи.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BEModificationOperation">
    <xs:annotation>
      <xs:documentation>Операция внесения изменений в реестр ХС.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="bs:RegisterModificationType">
        <xs:annotation>
          <xs:documentation>Тип операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="affectedList" type="dt:BusinessEntityList">
        <xs:annotation>
          <xs:documentation>Входящие записи для операции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="resultingList" type="dt:BusinessEntityList">
        <xs:annotation>
          <xs:documentation>Получаемые в результате операции записи.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reason" type="dt:BEModificationReason">
        <xs:annotation>
          <xs:documentation>Причина изменений записи в реестре ХС.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BEActivityLocationsModificationOperation">
    <xs:annotation>
      <xs:documentation>Операция изменения связи между хозяйствующим субъектом и предприятиями.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="bs:RegisterModificationType">
        <xs:annotation>
          <xs:documentation>Тип операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="businessEntity" type="dt:BusinessEntity">
        <xs:annotation>
          <xs:documentation>Хозяйствующий субъект.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="activityLocation">
        <xs:annotation>
          <xs:documentation>Список предприятий, для которых должна измениться привязка к хозяйствующему субъекту.
               </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="globalID" type="dt:GLNType" />
            <xs:element minOccurs="1" maxOccurs="1" name="enterprise" type="dt:Enterprise" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ENTModificationOperation">
    <xs:annotation>
      <xs:documentation>Операция внесения изменений в реестр предприятий.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="bs:RegisterModificationType">
        <xs:annotation>
          <xs:documentation>Тип операции</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="affectedList" type="dt:EnterpriseList">
        <xs:annotation>
          <xs:documentation>Входящие записи для операции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="resultingList" type="dt:EnterpriseList">
        <xs:annotation>
          <xs:documentation>Получаемые в результате операции записи.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reason" type="dt:ENTModificationReason">
        <xs:annotation>
          <xs:documentation>Причина изменений записи в реестре предприятий.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertifiedBatch">
    <xs:annotation>
      <xs:documentation>Сертифицированная партия продукции.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="producer" type="dt:BusinessMember">
        <xs:annotation>
          <xs:documentation>Сведения о производителе продукции.
                  Участник, получивший производственный сертификат, собственник партии.
                  Заполняется только для производственного вет.сертификата.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="batch" type="vd:Batch">
        <xs:annotation>
          <xs:documentation>Сведения о партии продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CertifiedConsignment">
    <xs:annotation>
      <xs:documentation>Сертифицированная транспортная партия</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="consignor" type="dt:BusinessMember">
        <xs:annotation>
          <xs:documentation>Сведения об отправителе (владельце).
                  Заполняется только для транспортного вет.сертификата.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="consignee" type="dt:BusinessMember">
        <xs:annotation>
          <xs:documentation>Сведения о получателе груза.
                  Заполняется только для транспортного вет.сертификата.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="broker" type="dt:BusinessEntity">
        <xs:annotation>
          <xs:documentation>Сведения о фирме-посреднике.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="transportInfo" type="vd:TransportInfo">
        <xs:annotation>
          <xs:documentation>Сведения о транспорте.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="transportStorageType" type="dt:TransportationStorageType">
        <xs:annotation>
          <xs:documentation>Способ хранения при перевозке.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="shipmentRoute" type="vd:ShipmentRoute">
        <xs:annotation>
          <xs:documentation>Сведения о маршруте следования (пунктах перегрузки).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="batch" type="vd:Batch">
        <xs:annotation>
          <xs:documentation>Сведения о партии продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ReferencedDocument">
    <xs:annotation>
      <xs:documentation>Сведения о связанном документе.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:Document">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="relationshipType" type="dt:ReferenceType">
            <xs:annotation>
              <xs:documentation>Тип отношения между документами.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VeterinaryEvent">
    <xs:annotation>
      <xs:documentation>Некое событие или мероприятие, ассоциированное с партией продукции (или ЖЖ).
            Например, лабораторное исследование, ВСЭ, произведенная обработка или иммунизация животного и т.д.
         </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="bs:Identifier">
        <xs:annotation>
          <xs:documentation>Идентификатор события в разрезе записи складского журнала или вет.сертификата.
                  Не задаётся пользователем в запросах (кроме запросов на редактирование),
                  формируется системой автоматически.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="name" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Наименование мероприятия.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="type" type="vd:VeterinaryEventType">
        <xs:annotation>
          <xs:documentation>Тип мероприятия.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="actualDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата события</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element minOccurs="0" name="location" type="dt:Location">
          <xs:annotation>
            <xs:documentation>Место проведения мероприятия</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="enterprise" type="dt:Enterprise">
          <xs:annotation>
            <xs:documentation>Место проведения мероприятия в случае, если это зарегистрированное предприятие</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" name="operator" type="dt:Organization">
        <xs:annotation>
          <xs:documentation>Организация-оператор, осуществляющий мероприятие.
                  Например, лаборатория (в случае лаб.исследований) или СББЖ.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="referencedDocument" type="vd:Document">
        <xs:annotation>
          <xs:documentation>Связанный документ. Например, акт отбора пробы для лаб.исследования.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="notes" type="bs:Text">
        <xs:annotation>
          <xs:documentation>Дополнительные сведения.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LaboratoryResearchEvent">
    <xs:annotation>
      <xs:documentation>Лабораторное исследование. Исследование выполняется на конкретный показатель/заболевание в лаборатории.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:VeterinaryEvent">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="batchID" type="bs:Identifier">
            <xs:annotation>
              <xs:documentation>Уникальный идентификатор производственной партии продукции,
                        для которой проводились лабораторные исследования.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="expertiseID" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Номер экспертизы</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element minOccurs="0" name="indicator" type="dt:Indicator">
              <xs:annotation>
                <xs:documentation>Показатель безопасности</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="disease" type="dt:AnimalDisease">
              <xs:annotation>
                <xs:documentation>Заболевание</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element minOccurs="0" name="method" type="dt:ResearchMethod">
            <xs:annotation>
              <xs:documentation>Метод исследования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="result" type="dt:ResearchResult">
            <xs:annotation>
              <xs:documentation>Результат исследования</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="conclusion" type="bs:Text">
            <xs:annotation>
              <xs:documentation>Заключение</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AnimalMedicationEvent">
    <xs:annotation>
      <xs:documentation>Сведения об обработке/иммунизации живого животного.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:VeterinaryEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="disease" type="dt:AnimalDisease">
            <xs:annotation>
              <xs:documentation>Заболевание</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="medicinalDrug" type="dt:MedicinalDrug">
            <xs:annotation>
              <xs:documentation>Препарат</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="effectiveBeforeDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>Срок действия препарата/вакцины.
                        Указывается дата и время окончания срока действия.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="QuarantineEvent">
    <xs:annotation>
      <xs:documentation>Карантин животных или продукции
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="vd:VeterinaryEvent">
        <xs:sequence>
          <xs:element minOccurs="0" name="duration" type="xs:positiveInteger">
            <xs:annotation>
              <xs:documentation>Срок действия карантина. Указывается количество дней</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="VeterinaryEventType">
    <xs:annotation>
      <xs:documentation>Тип мероприятия</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="UND">
        <xs:annotation>
          <xs:documentation>Не определен</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="LBR">
        <xs:annotation>
          <xs:documentation>Лабораторные исследования</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="VSE">
        <xs:annotation>
          <xs:documentation>Ветеринарно-санитарная экспертиза</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="IMM">
        <xs:annotation>
          <xs:documentation>Иммунизация живого животного</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="MED">
        <xs:annotation>
          <xs:documentation>Обработка живого животного</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="QRT">
        <xs:annotation>
          <xs:documentation>Карантин</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="VeterinaryAuthentication">
    <xs:annotation>
      <xs:documentation>Результаты осмотра/исследований партии. Заключение ветеринарного врача/специалиста.
         </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="purpose" type="dt:Purpose">
        <xs:annotation>
          <xs:documentation>Цель. Назначение груза.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="cargoInspected" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>Осуществлен контроль гос.ветврачом на соответствие требованиям.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="cargoExpertized" type="dt:ResearchResult">
        <xs:annotation>
          <xs:documentation>Проводилась ли ветсанэкспертиза.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="locationProsperity" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Благополучие местности.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="animalSpentPeriod" type="vd:AnimalSpentPeriod">
        <xs:annotation>
          <xs:documentation>Нахождение животных на территории ТС.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="monthsSpent" type="bs:String255">
        <xs:annotation>
          <xs:documentation>Количество месяцев нахождения животных на территории ТС.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="laboratoryResearch" type="vd:LaboratoryResearchEvent">
        <xs:annotation>
          <xs:documentation>Сведения о проведенных лабораторных исследованиях.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="quarantine" type="vd:QuarantineEvent">
        <xs:annotation>
          <xs:documentation>Сведения о карантинировании.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="immunization" type="vd:AnimalMedicationEvent">
        <xs:annotation>
          <xs:documentation>Сведения о проведенной обработке/иммунизации животных.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="veterinaryEvent" type="vd:VeterinaryEvent">
        <xs:annotation>
          <xs:documentation>Сведения о проведенных мероприятиях.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="r13nClause" type="vd:RegionalizationClause">
        <xs:annotation>
          <xs:documentation>Подтверждение соблюдаемых условий перемещения продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="specialMarks" type="bs:Text">
        <xs:annotation>
          <xs:documentation>Особые отметки.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BatchOrigin">
    <xs:annotation>
      <xs:documentation>Сведения о происхождении партии продукции.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="productItem" type="dt:ProductItem">
        <xs:annotation>
          <xs:documentation>Оригинальное наименование продукции (данное производителем).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="country" type="dt:Country">
        <xs:annotation>
          <xs:documentation>Страна происхождения продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="producer" type="dt:Producer">
        <xs:annotation>
          <xs:documentation>Сведения о производителях продукции.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="StockEntryEventList">
    <xs:annotation>
      <xs:documentation>Список мероприятий с партией продукции.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="laboratoryResearch" type="vd:LaboratoryResearchEvent">
        <xs:annotation>
          <xs:documentation>Сведения о проведенных лабораторных исследованиях.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="quarantine" type="vd:QuarantineEvent">
        <xs:annotation>
          <xs:documentation>Сведения о карантинировании.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="immunization" type="vd:AnimalMedicationEvent">
        <xs:annotation>
          <xs:documentation>Сведения о проведенной обработке/иммунизации животных.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="veterinaryEvent" type="vd:VeterinaryEvent">
        <xs:annotation>
          <xs:documentation>Сведения о проведенных мероприятиях.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VetDocumentStatusChange">
    <xs:annotation>
      <xs:documentation>Сведения об изменении статуса ветеринарного документа</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="status" type="vd:VetDocumentStatus">
        <xs:annotation>
          <xs:documentation>Установленный статус документа.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="specifiedPerson" type="vd:User">
        <xs:annotation>
          <xs:documentation>Пользователь, изменивший статус ВСД (например, подписавший или аннулировавший его).
               </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" maxOccurs="1" name="actualDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата и время изменения статуса ВСД.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="reason" type="vd:VetDocumentStatusChangeReason">
        <xs:annotation>
          <xs:documentation>Основание изменения статуса ВСД (например, причина аннулирования сертификата).
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="VetDocumentStatusChangeReason">
    <xs:annotation>
      <xs:documentation>Основание изменения статуса ВСД</xs:documentation>
    </xs:annotation>
    <xs:restriction base="bs:Text" />
  </xs:simpleType>
  <xs:complexType name="RegionalizationClause">
    <xs:annotation>
      <xs:documentation>Подтверждение соблюдения условия перемещения продукции</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="condition" type="dt:RegionalizationCondition">
        <xs:annotation>
          <xs:documentation>Тип соблюдаемого условия перемещения партии.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="bs:Text">
        <xs:annotation>
          <xs:documentation>Текст (точная формулировка) соблюдаемого условия перемещения партии.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RouteSectionR13nRules">
    <xs:annotation>
      <xs:documentation>Правила перемещения партии согласно регионализации между двух точек маршрута.
         </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="sqnId" type="bs:SequenceNumber">
        <xs:annotation>
          <xs:documentation>Порядовый номер отрезка маршрута.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="appliedR13nRule" type="dt:RegionalizationShippingRule">
        <xs:annotation>
          <xs:documentation>Применяемое правило перемещения для каждой категории груза на данном участке маршрута.
               </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ProcessingProcedure">
    <xs:annotation>
      <xs:documentation>Тип, описывающий производственный процесс.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="type" type="vd:ProcessingProcedureType">
        <xs:annotation>
          <xs:documentation>Тип производственного процесса.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="startDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата начала процесса.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="endDateTime" type="xs:dateTime">
        <xs:annotation>
          <xs:documentation>Дата окончания процесса.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ProcessingProcedureType">
    <xs:restriction base="xs:token">
      <xs:enumeration value="7">
        <xs:annotation>
          <xs:documentation>Замораживание</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="12">
        <xs:annotation>
          <xs:documentation>Убой</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="13">
        <xs:annotation>
          <xs:documentation>Упаковка/фасовка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="34">
        <xs:annotation>
          <xs:documentation>Нарезка/разделка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="35">
        <xs:annotation>
          <xs:documentation>Добыча (собирать, ловить, охотиться)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="37">
        <xs:annotation>
          <xs:documentation>Производство (из сырья вручную или с помощью машин)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="39">
        <xs:annotation>
          <xs:documentation>Обработка/переработка (посредством, как правило, рутинных процедур)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="40">
        <xs:annotation>
          <xs:documentation>Выращивание</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="43">
        <xs:annotation>
          <xs:documentation>Хранение</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="51">
        <xs:annotation>
          <xs:documentation>Сжигание (утилизация)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="73">
        <xs:annotation>
          <xs:documentation>Временное хранения</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="95">
        <xs:annotation>
          <xs:documentation>Термическая обработка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="101">
        <xs:annotation>
          <xs:documentation>Утилизация (метод не определен или отличается от обозначенных выше вариантов)</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="102">
        <xs:annotation>
          <xs:documentation>Сортировка и упаковка</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="User">
    <xs:annotation>
      <xs:documentation>Тип, описывающий пользователя.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:GenericEntity">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="login" type="xs:NCName">
            <xs:annotation>
              <xs:documentation>Имя пользователя в системе Ветис.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="fio" type="bs:String255">
            <xs:annotation>
              <xs:documentation>ФИО пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="birthDate" type="xs:date">
            <xs:annotation>
              <xs:documentation>Дата рождения пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="identity" type="vd:Document">
            <xs:annotation>
              <xs:documentation>Документ, удостоверяющий личность.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="snils" type="vd:SNILSType">
            <xs:annotation>
              <xs:documentation>СНИЛС пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="phone" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Личный телефон пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="workPhone" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Рабочий (контактный) телефон пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="email" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Личный адрес электронной почты пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="workEmail" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Рабочий адрес электронной почты пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:choice>
            <xs:element minOccurs="0" maxOccurs="1" name="organization" type="dt:Organization">
              <xs:annotation>
                <xs:documentation>Организация пользователя.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="businessEntity" type="dt:BusinessEntity">
              <xs:annotation>
                <xs:documentation>Хозяйствующий субъект пользователя.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
          <xs:element minOccurs="0" maxOccurs="1" name="post" type="bs:String255">
            <xs:annotation>
              <xs:documentation>Должность пользователя в организации (`organization` или `businessEntity`).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="enabled" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Аккаунт пользователя разрешен/активен.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="nonExpired" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Аккаунт пользователя не истек (срок действия).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="nonLocked" type="xs:boolean">
            <xs:annotation>
              <xs:documentation>Аккаунт пользователя не заблокирован.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="authorityList" type="vd:AuthorityList">
            <xs:annotation>
              <xs:documentation>Список ролей пользователя.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="workingAreaList" type="vd:WorkingAreaList">
            <xs:annotation>
              <xs:documentation>Список зон обслуживания.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserList">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список пользователей.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:EntityList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="user" type="vd:User" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="SNILSType">
    <xs:annotation>
      <xs:documentation />
    </xs:annotation>
    <xs:restriction base="xs:token">
      <xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{3} [0-9]{2}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="AuthorityList">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список ролей пользователя.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="authority" type="vd:UserAuthority" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingAreaList">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список зон обслуживания.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="bs:EntityList">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="workingArea" type="vd:WorkingArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UserAuthority">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список ролей пользователя.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="ID" type="xs:NCName" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="bs:String255" />
      <xs:element minOccurs="0" maxOccurs="1" name="granted" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="WorkingArea">
    <xs:annotation>
      <xs:documentation>Тип, описывающий список зон обслуживания.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="area" type="dt:Area" />
        <xs:element minOccurs="0" maxOccurs="1" name="enterprise" type="dt:Enterprise" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
</xs:schema>