MercuryClassLibrary/Connected Services/ApplicationManagementService/mercury_g2b_applications_v2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:apl="http://api.vetrf.ru/schema/cdm/application" xmlns:dt="http://api.vetrf.ru/schema/cdm/dictionary/v2" xmlns:vd="http://api.vetrf.ru/schema/cdm/mercury/vet-document/v2" xmlns:merc="http://api.vetrf.ru/schema/cdm/mercury/g2b/applications/v2" xmlns:bs="http://api.vetrf.ru/schema/cdm/base" elementFormDefault="qualified" targetNamespace="http://api.vetrf.ru/schema/cdm/mercury/g2b/applications/v2" version="2.0-beta" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="base_v1.1.xsd" namespace="http://api.vetrf.ru/schema/cdm/base" />
  <xs:import schemaLocation="application_v1.1.xsd" namespace="http://api.vetrf.ru/schema/cdm/application" />
  <xs:import schemaLocation="dictionary_v2.0.xsd" namespace="http://api.vetrf.ru/schema/cdm/dictionary/v2" />
  <xs:import schemaLocation="document_v2.0.xsd" namespace="http://api.vetrf.ru/schema/cdm/mercury/vet-document/v2" />
  <xs:element name="processIncomingConsignmentRequest" type="merc:ProcessIncomingConsignmentRequest" />
  <xs:element name="processIncomingConsignmentResponse" type="merc:ProcessIncomingConsignmentResponse" />
  <xs:element name="prepareOutgoingConsignmentRequest" type="merc:PrepareOutgoingConsignmentRequest" />
  <xs:element name="prepareOutgoingConsignmentResponse" type="merc:PrepareOutgoingConsignmentResponse" />
  <xs:element name="registerProductionOperationRequest" type="merc:RegisterProductionOperationRequest" />
  <xs:element name="registerProductionOperationResponse" type="merc:RegisterProductionOperationResponse" />
  <xs:element name="mergeStockEntriesRequest" type="merc:MergeStockEntriesRequest" />
  <xs:element name="mergeStockEntriesResponse" type="merc:MergeStockEntriesResponse" />
  <xs:element name="withdrawVetDocumentRequest" type="merc:WithdrawVetDocumentRequest" />
  <xs:element name="withdrawVetDocumentResponse" type="merc:WithdrawVetDocumentResponse" />
  <xs:element name="modifyBusinessEntityRequest" type="merc:ModifyBusinessEntityRequest" />
  <xs:element name="modifyBusinessEntityResponse" type="merc:ModifyBusinessEntityResponse" />
  <xs:element name="modifyEnterpriseRequest" type="merc:ModifyEnterpriseRequest" />
  <xs:element name="modifyEnterpriseResponse" type="merc:ModifyEnterpriseResponse" />
  <xs:element name="modifyActivityLocationsRequest" type="merc:ModifyActivityLocationsRequest" />
  <xs:element name="modifyActivityLocationsResponse" type="merc:ModifyActivityLocationsResponse" />
  <xs:element name="resolveDiscrepancyRequest" type="merc:ResolveDiscrepancyRequest" />
  <xs:element name="resolveDiscrepancyResponse" type="merc:ResolveDiscrepancyResponse" />
  <xs:element name="modifyProducerStockListRequest" type="merc:ModifyProducerStockListRequest" />
  <xs:element name="modifyProducerStockListResponse" type="merc:ModifyProducerStockListResponse" />
  <xs:element name="getVetDocumentByUuidRequest" type="merc:GetVetDocumentByUuidRequest" />
  <xs:element name="getVetDocumentByUuidResponse" type="merc:GetVetDocumentByUuidResponse" />
  <xs:element name="getVetDocumentListRequest" type="merc:GetVetDocumentListRequest" />
  <xs:element name="getVetDocumentListResponse" type="merc:GetVetDocumentListResponse" />
  <xs:element name="getVetDocumentChangesListRequest" type="merc:GetVetDocumentChangesListRequest" />
  <xs:element name="getVetDocumentChangesListResponse" type="merc:GetVetDocumentChangesListResponse" />
  <xs:element name="getStockEntryByGuidRequest" type="merc:GetStockEntryByGuidRequest" />
  <xs:element name="getStockEntryByGuidResponse" type="merc:GetStockEntryByGuidResponse" />
  <xs:element name="getStockEntryByUuidRequest" type="merc:GetStockEntryByUuidRequest" />
  <xs:element name="getStockEntryByUuidResponse" type="merc:GetStockEntryByUuidResponse" />
  <xs:element name="getStockEntryListRequest" type="merc:GetStockEntryListRequest" />
  <xs:element name="getStockEntryListResponse" type="merc:GetStockEntryListResponse" />
  <xs:element name="getStockEntryChangesListRequest" type="merc:GetStockEntryChangesListRequest" />
  <xs:element name="getStockEntryChangesListResponse" type="merc:GetStockEntryChangesListResponse" />
  <xs:element name="getStockEntryVersionListRequest" type="merc:GetStockEntryVersionListRequest" />
  <xs:element name="getStockEntryVersionListResponse" type="merc:GetStockEntryVersionListResponse" />
  <xs:element name="updateTransportMovementDetailsRequest" type="merc:UpdateTransportMovementDetailsRequest" />
  <xs:element name="updateTransportMovementDetailsResponse" type="merc:UpdateTransportMovementDetailsResponse" />
  <xs:element name="updateVeterinaryEventsRequest" type="merc:UpdateVeterinaryEventsRequest" />
  <xs:element name="updateVeterinaryEventsResponse" type="merc:UpdateVeterinaryEventsResponse" />
  <xs:element name="checkShipmentRegionalizationRequest" type="merc:CheckShipmentRegionalizationRequest" />
  <xs:element name="checkShipmentRegionalizationResponse" type="merc:CheckShipmentRegionalizationResponse" />
  <xs:element name="addBusinessEntityUserRequest" type="merc:AddBusinessEntityUserRequest" />
  <xs:element name="addBusinessEntityUserResponse" type="merc:AddBusinessEntityUserResponse" />
  <xs:element name="getBusinessEntityUserListRequest" type="merc:GetBusinessEntityUserListRequest" />
  <xs:element name="getBusinessEntityUserListResponse" type="merc:GetBusinessEntityUserListResponse" />
  <xs:element name="getBusinessEntityUserRequest" type="merc:GetBusinessEntityUserRequest" />
  <xs:element name="getBusinessEntityUserResponse" type="merc:GetBusinessEntityUserResponse" />
  <xs:element name="updateUserAuthoritiesRequest" type="merc:UpdateUserAuthoritiesRequest" />
  <xs:element name="updateUserAuthoritiesResponse" type="merc:UpdateUserAuthoritiesResponse" />
  <xs:element name="updateUserWorkingAreasRequest" type="merc:UpdateUserWorkingAreasRequest" />
  <xs:element name="updateUserWorkingAreasResponse" type="merc:UpdateUserWorkingAreasResponse" />
  <xs:element name="unbindBusinessEntityUserRequest" type="merc:UnbindBusinessEntityUserRequest" />
  <xs:element name="unbindBusinessEntityUserResponse" type="merc:UnbindBusinessEntityUserResponse" />
  <xs:element name="getAppliedUserAuthorityListRequest" type="merc:GetAppliedUserAuthorityListRequest" />
  <xs:element name="getAppliedUserAuthorityListResponse" type="merc:GetAppliedUserAuthorityListResponse" />
  <xs:complexType name="MercuryApplicationRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="localTransactionId" type="bs:Identifier" />
          <xs:element minOccurs="1" maxOccurs="1" name="initiator" type="vd:User" />
          <xs:element minOccurs="0" maxOccurs="1" name="sessionToken" type="dt:OTPToken" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProcessIncomingConsignmentRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????????? ???????????????? ????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="delivery" type="vd:Delivery">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="deliveryFacts" type="vd:DeliveryFactList">
            <xs:annotation>
              <xs:documentation>???????????????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="discrepancyReport" type="vd:DiscrepancyReport">
            <xs:annotation>
              <xs:documentation>?????? ?? ????????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="returnedDelivery" type="vd:Delivery">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ???????????????? ??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ProcessIncomingConsignmentResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ???????????????????? ???????????????? ????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stockEntry" type="vd:StockEntry">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ?????????????????? ????????????(????) ?????????????? ??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vetDocument" type="vd:VetDocument">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ???????????????????????? ????????????????????????: ???????????????????? ?? ????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrepareOutgoingConsignmentRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????????? ???????????????????????? ????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="delivery" type="vd:Delivery">
            <xs:annotation>
              <xs:documentation>???????????????? ???? ????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PrepareOutgoingConsignmentResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ???????????????????? ???????????????????????? ????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stockEntry" type="vd:StockEntry">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ???????????????????? ????????????(????) ?????????????? ??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vetDocument" type="vd:VetDocument">
            <xs:annotation>
              <xs:documentation>???????????????? ???? ?????????????????????? ?????? ???????????????????? ???????????????????????? ??????????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegisterProductionOperationRequest">
    <xs:annotation>
      <xs:documentation>
            ???????????? ???? ???????????????????? ???????????????????????????????? ????????????. ???????????? ???????????????????????? ???????????????????? "????????????????????????????" ????????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="enterprise" type="dt:Enterprise">
            <xs:annotation>
              <xs:documentation>??????????????????????, ???? ?????????????? ?????????????????????? ???????????????????????????????? ????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="productionOperation" type="vd:ProductionOperation">
            <xs:annotation>
              <xs:documentation>???????????????????????????????? ????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vetDocument" type="vd:VetDocument">
            <xs:annotation>
              <xs:documentation>????????????????, ?????????????????????? ?????? ???????????????????? ?????????????????????????? ??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="RegisterProductionOperationResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ???????????????????? ???????????????????????????????? ????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="stockEntryList" type="vd:StockEntryList">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ?????????????????? ??/?????? ???????????????????? ?????????????? ?????????????? ??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="vetDocument" type="vd:VetDocument">
            <xs:annotation>
              <xs:documentation>???????????????? ???? ?????????????????????? ?????? ???????????????????? ???????????????????????? ??????????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MergeStockEntriesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????????? ?????????????? ?????????????? ??????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="enterprise" type="dt:Enterprise">
            <xs:annotation>
              <xs:documentation>??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="mergeOperation" type="vd:MergeStockEntriesOperation">
            <xs:annotation>
              <xs:documentation>?????????????????? ???????????????? (?????????????????????? ?????????????? ?????????????? ??????????????????).
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="MergeStockEntriesResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????????? ?????????????? ?????????????? ??????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="stockEntryList" type="vd:StockEntryList">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ?????????????????? ??/?????? ???????????????????? ?????????????? ?????????????? ?????????????? ??????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WithdrawVetDocumentRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????????????? ?????????????????????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="vetDocumentId" type="bs:UUID">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ?????????????????????????? ??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="withdrawReason" type="vd:VetDocumentStatusChangeReason">
            <xs:annotation>
              <xs:documentation>?????????????? ??????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="withdrawDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ??????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="specifiedPerson" type="vd:User">
            <xs:annotation>
              <xs:documentation>???????????????????????? ????????, ?????????????????????????? ???? ?????????????????????????? ??????????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="WithdrawVetDocumentResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????????????? ?????????????????????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="vetDocument" type="vd:VetDocument">
            <xs:annotation>
              <xs:documentation>???????????????? ???? ???????????????????????????? ???????????????????????? ??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="stockEntry" type="vd:StockEntry">
            <xs:annotation>
              <xs:documentation>???????????????? ???? ???????????????????? ?????????????? ?????????????? ?????????????? ??????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyBusinessEntityRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????? ?????????????????? ?? ???????????? ????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="modificationOperation" type="vd:BEModificationOperation">
            <xs:annotation>
              <xs:documentation>???????????????? ???????????????? ?????????????????? ?? ???????????? ????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyBusinessEntityResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ???????????????? ?????????????????? ?? ???????????? ????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="businessEntity" type="dt:BusinessEntity">
            <xs:annotation>
              <xs:documentation>???????????????????? ???????????? ?????????????? ?????????????? ????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyEnterpriseRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????? ?????????????????? ?? ???????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="modificationOperation" type="vd:ENTModificationOperation">
            <xs:annotation>
              <xs:documentation>???????????????? ???????????????? ?????????????????? ?? ???????????? ??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyEnterpriseResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ???????????????? ?????????????????? ?? ???????????? ??????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="enterprise" type="dt:Enterprise">
            <xs:annotation>
              <xs:documentation>???????????????????? ???????????? ?????????????? ?????????????? ??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyActivityLocationsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????? ?????????????????????????? ???????????????????????? ???????????????????????????? ????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="modificationOperation" type="vd:BEActivityLocationsModificationOperation">
            <xs:annotation>
              <xs:documentation>???????????????? ???????????????? ?????????????????? ???????????? ????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyActivityLocationsResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???????? ?????????????????????????? ???????????????????????? ??????????????????????????
            ??????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="businessEntity" type="dt:BusinessEntity">
            <xs:annotation>
              <xs:documentation>???????????? ???????????????????????????? ???????????????? ?? ?????????????????? ???????????????? ???????????? ????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResolveDiscrepancyRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????????? ???????????????????????????? ?? ?????????????? ???????????????????? ??????????????,
            ???????????????????? ?? ???????????????????? ????????????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="enterprise" type="dt:Enterprise">
            <xs:annotation>
              <xs:documentation>??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="inventoryDate" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ????????????????????????????/?????????????????????? ????????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" name="responsible" type="vd:User">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ???? ????????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="stockDiscrepancy" type="vd:StockDiscrepancy">
            <xs:annotation>
              <xs:documentation>???????????????????????????? ?? ?????????????? ???????????????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" name="discrepancyReport" type="vd:DiscrepancyReport">
            <xs:annotation>
              <xs:documentation>?????? ?? ????????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ResolveDiscrepancyResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????????? ???????????????????????????? ?? ?????????????? ???????????????????? ??????????????,
            ???????????????????? ?? ???????????????????? ????????????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="stockEntryList" type="vd:StockEntryList">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ?????????????????? ??/?????? ???????????????????? ?????????????? ?????????????? ?????????????? ??????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyProducerStockListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ?????????????? ???????????????????????? ?????????????????? ??????????????????????-??????????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="modificationOperation" type="vd:PSLModificationOperation">
            <xs:annotation>
              <xs:documentation>???????????????? ???????????????? ?????????????????? ?? ???????????? ???????????????????????? ??????????????????
                        ??????????????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ModifyProducerStockListResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ?????????????? ???????????????????????? ?????????????????? ??????????????????????-??????????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="productItemList" type="dt:ProductItemList">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ?????????????????? ??/?????? ???????????????????? ?????????????? ???????????????????????? ??????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetVetDocumentByUuidRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ??????. ?????????????????????? ???? ????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="bs:uuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ????????????, ???? ???????????????? ???????????????????????? ??????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetVetDocumentByUuidResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ??????. ?????????????????????? ???? ????????????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:vetDocument">
            <xs:annotation>
              <xs:documentation>???????????????????????? ????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetVetDocumentListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????? ??????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="bs:listOptions">
            <xs:annotation>
              <xs:documentation>
                        ?????????????????? ???????????????????????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="vd:vetDocumentType">
            <xs:annotation>
              <xs:documentation>?????? ????????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" ref="vd:vetDocumentStatus">
            <xs:annotation>
              <xs:documentation>???????????? ????????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ??????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetVetDocumentListResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ??????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:vetDocumentList">
            <xs:annotation>
              <xs:documentation>???????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetVetDocumentChangesListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ????????????, ?????????????????? ?????? ???????????????????? ???? ?????????????????? ???????????????? ??????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="bs:listOptions">
            <xs:annotation>
              <xs:documentation>
                        ?????????????????? ???????????????????????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="bs:updateDateInterval">
            <xs:annotation>
              <xs:documentation>
                        ???????????????? ?????????????? ????????????????????. ?? ???????????? ???????????????? ?????? ????????????, ???????? ???????????????????? ??????????????
                        ???????????????? ?? ?????????????????? ????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ??????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetVetDocumentChangesListResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???????????????????? ??????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:vetDocumentList">
            <xs:annotation>
              <xs:documentation>???????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryByGuidRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????? ???? ?????????????????????? ????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="bs:guid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ????????????, ???? ???????????????? ???????????????????????? ??????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryByGuidResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???? ????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:stockEntry">
            <xs:annotation>
              <xs:documentation>???????????? ?????????????? ??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryByUuidRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????????? ???? ????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="bs:uuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ????????????, ???? ???????????????? ???????????????????????? ??????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryByUuidResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???????????? ???? ????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:stockEntry">
            <xs:annotation>
              <xs:documentation>???????????? ?????????????? ??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryChangesListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????????? ?????????????? ??????????????, ?????????????????? ?????? ???????????????????? ???? ??????????????????
            ???????????????? ??????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="bs:listOptions">
            <xs:annotation>
              <xs:documentation>
                        ?????????????????? ???????????????????????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="bs:updateDateInterval">
            <xs:annotation>
              <xs:documentation>
                        ???????????????? ?????????????? ????????????????????. ?? ???????????? ???????????????? ?????? ????????????, ???????? ???????????????????? ??????????????
                        ???????????????? ??
                        ?????????????????? ????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ??????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryChangesListResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:stockEntryList">
            <xs:annotation>
              <xs:documentation>???????????? ????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????????????????? ?????????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="bs:listOptions">
            <xs:annotation>
              <xs:documentation>
                        ?????????????????? ???????????????????????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ??????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="1" name="searchPattern" type="vd:StockEntrySearchPattern">
            <xs:annotation>
              <xs:documentation>???????????? ???????????? ?????????????? ???????????????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryListResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???????????????????? ?????????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:stockEntryList">
            <xs:annotation>
              <xs:documentation>???????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryVersionListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????? ???????????? ???? ???????????????????????????? ???????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="bs:listOptions">
            <xs:annotation>
              <xs:documentation>
                        ?????????????????? ???????????????????????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="bs:guid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ????????????, ???? ???????????????? ???????????????????????? ??????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="dt:enterpriseGuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ???? ???????????????? ???????????????????????? ?????????? ????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetStockEntryVersionListResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???????????? ???????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:stockEntryList">
            <xs:annotation>
              <xs:documentation>???????????? ???????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateTransportMovementDetailsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????????? ?? ???????????????????????? ??????????????????, ???????????????????????????? ????????????????
            ?????????????????????????????????? ????????????. ???????????????????????????? ???????????????????????????? ????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:deliveryParticipant">
            <xs:annotation>
              <xs:documentation>?????????????????????????????? ?????? ????????????????????????????????,
                        ???????????????????????????? ?????????????????? ???????????????????? ????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="vd:vetDocumentUuid">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ?????????????????????????? ??????.??????????????????????.
                        ?????????? ???????? ?????????????? ?????????? ???????????? ?????????????????????? ???? ????????????, ?????????????????????? ???????????? ?? ?????????? ??????????????
                        ?? ?????????? ???????????? ????????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:shipmentRoute">
            <xs:annotation>
              <xs:documentation>?????????????? ????????????????????. ?????????????????????? ???????????? ?????????? ???????????????????? ?? ???????????????? ?? ????????????????????.
                        ?????? ?????????? ???????????????????? ???????????? ???????? ???????????? ???? ?????????????????????????? (uuid).
                        ?? ?????????????? ???? ?????????????????? ?????????? ?????????????????????? ???????????? ?????????? ????????????????,
                        ?????? ?????????????? ???????????????????? ???????? transshipment (?????????? ????????????????????).
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateTransportMovementDetailsResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???????????? ???????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vd:vetDocument">
            <xs:annotation>
              <xs:documentation>???????????? ???????????????????????? ???????????????????????? ????????????????????????
                        ?? ?????????????????????? ???????????????????? ?? ???????????????????????? ??????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateVeterinaryEventsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????? ???????????????? ?? ???????????????????????? ???????????????????????? ?? ?????????????? ?????????????????? ??????????,
            ?????? ???????????????????????? ????????????????????????, ????????????????????????????????, ?????????????????????? ?? ?????????????????? ?????? ?????????? ????????????????.
            ???????????????????????????? ???????????????????? ???????????????? ?? ???????????????????????? ??????????????????????????, ?????? ?????????????? ?????????? ???? ?????? ???????????? ?????????????????? ????????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="enterprise" type="dt:Enterprise">
            <xs:annotation>
              <xs:documentation>??????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="vd:stockEntry">
            <xs:annotation>
              <xs:documentation>???????????? ???????????????????? ??????????????, ?????? ?????????????? ????????????????/?????????????????????? ???????????????? ?? ????????????????????????.
                        ?????????? ???????? ?????????????? ?????????? ?????????? ???????????? ???????????????????? ??????????????.
                        ?????? ???????????? ???????????? ???????????? ???????? ???????????? ?????????????????????????? (GUID) ?? ???????????? ?????????????????????? stockEntry/vetEventList.
                        ?????? ???????????????????? ?????????????????????? ???????????????????????? ???????????????????????? ?? ???????????????????????????????? stockEntry/vetEventList/laboratoryResearch
                        ???????????? ???????? ???????????? ?????????????????????????? ID.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateVeterinaryEventsResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????? ???? ?????????????????? ???????????? ???????????? ???????????? ??????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vd:stockEntry">
            <xs:annotation>
              <xs:documentation>???????????? ?????????????? ???????????????????? ?????????????? ??????????????????
                        ?? ?????????????????????? ???????????????????? ?? ???????????????????????? ????????????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CheckShipmentRegionalizationRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????? ???????????? ???????????????????????????? ?????? ???????????????????????? ?????????????????? ?????????? ?? ???????????????? ????????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="dt:cargoType">
            <xs:annotation>
              <xs:documentation>?????????????????? ??????????, ?????? ?????????????? ?????????????????????????? ?????????????? ?????????????????????? ???? ????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:shipmentRoute">
            <xs:annotation>
              <xs:documentation>?????????????? ???????????????????? ??????????. ?? ?????????????? ???? ???????????????? ????????????????????,
                        ?????????????? ?????????????????????? ?? ???????????????????????? ?????????????????????? ?? ?? ?????????????? ???? ???????????????????? ?????????????????? ????????????,
                        `shipmentRoute` ?????????? ???????????? ???????????????? ?????????? ?????????????????????? ?? ?????????? ????????????????????.
                        ?????? ???????????? ?????????? ???????????????? ?????????????????????? ???????????? ???????? ???????????????? ??????????:
                        ???????????????? `shipmentRoute/routePoint/location/address` ?? `shipmentRoute/routePoint/enterprise/address`.
                        ???????????? ?? ???????? ???????????? ???????????????? ???????????? ?????????????????????? (????????????????????????????) ???????? ???????????????????? ??????????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="CheckShipmentRegionalizationResponse">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ???????????? ????????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vd:r13nRouteSection">
            <xs:annotation>
              <xs:documentation>???????????????? ???????????? ?????????????????????? ??????????????????.
                        ???????????????????? ?????????????????? `r13nRouteSection` ?? ???????????? ?????????????????????????? ???????????????????? ???????????????? ????????????????.
                        ?????????????? `r13nRouteSection/sqnId` ?????????? ???????????? ??????????????, ?????????????????? ???????????????????? ?? ??????????????.
                        ???????????????????? ?????????????????? `r13nRouteSection/appliedR13nRule` ??????????????????????????
                        ???????????????????? ?????????????????? ?????????? (?????????????? `cargoType`) ?? ??????????????.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddBusinessEntityUserRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ??????????????????????/???????????????? ????????????????????????(????) ???????????????????????????? ????????????????.
            ???????? ???????????????????????? ?? ?????????????????? uuid, login, passport ?????? snils ?????? ?????????????????????????????? ?? ?????? ??????????????????,
            ???? ?????????? ???????????????????? ?? ????-?????????????????? (???????? ???????????????????????????????????? ???????????????????????? ???? ???????????????? ?? ????-??????????????????).
            ?????????????? ???????????????????????? ?????? ???????? ???????????????? ???? ??????????.
            ???????? ?????? ???? ?????????????????? ?????? ???????????????????????? ?????? ???????????????? ?? ????-?????????????????? -- ???????????????????????? ??????????????????????????????/???????????????? ???? ??????????.
            ?????????? ???????????????????????????? ?????????? ???????????????????????? ?????? ?????????????? ???????????????????? ???????????????????????? ????????????????.
            ???? ???????? ???????????? ?????????? ????????????????????????????????/?????????????????? ???? ?????????? N ??????????????????????????.
            ?????? ?????????? ???????????????????????????? ?????????????????????????? ?? ???????????????????????? ??????????????????????????, ?????? ?????????????? ?????????????????????? ???????????????? ?? ????-??????????????????,
            ?????????? ?????????????????????? ?????????? ?? ???????? ??????????????????????????????, ?????????????????? ?? ??????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ???????????????????????????? ????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="AddBusinessEntityUserResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ??????????????????????/???????????????? ????????????????????????(????) ???????????????????????????? ????????????????.
            ?????????? ???????????????? ???????????? ??????????????????????????, ?????? ?????????????? ?? ???????????????????? ?????????????? ???????? ?????????????????? ??????????????????????/????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>???????????????? ?? ????????????????????????????????????/?????????????????????? ????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetBusinessEntityUserListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????????????? ????-??????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="bs:listOptions">
            <xs:annotation>
              <xs:documentation>?????????????????? ???????????????????????????? ????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetBusinessEntityUserListResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ?????????????????? ???????????? ?????????????????????????? ????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="vd:userList">
            <xs:annotation>
              <xs:documentation>???????????? ??????????????????????????, ?????????????????????????? ?? ????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetBusinessEntityUserRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ???????????????? ?? ???????????????????????? ????-??????????????????.
            ???????????????????????? ???????????? ???????? ???????????????? ?? ????-??????????????????, ?????????? -- ????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" ref="vd:user">
            <xs:annotation>
              <xs:documentation>????????????????????????, ?????? ???????????????? ?????????????????????????? ????????????????.
                        ???????????? ???????? ???????????? uuid ?????? login.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetBusinessEntityUserResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ?????????????????? ???????????? ???????????????? ?? ????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="vd:user">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ???????????????? ?? ????????????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateUserAuthoritiesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????? ?????????????? ????????????????????????.
            ???????? ???????????????????????? ?? ???????????? ?????? ???????????????????? ???????????????????? ???????????? ?????????????????????????? ?? ????-??????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>????????????????????????, ?????? ???????????????? ???????????????????? ?????????? ??????????????.
                        ???????????? ???????? ???????????? `uuid` ?????? `login`.
                        ???????????????????? ????????:
                           `enabled` -- ???????????????????? ?????????????? ???????????? ????????????????????????
                           `authorityList` -- ???????? ????????????????????????
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateUserAuthoritiesResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ?????????????????? ???????? ?????????????? ????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>????????????????????????, ?????? ???????????????? ???????? ???????????????? ?????????? ??????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateUserWorkingAreasRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ?????? ?????????????????????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>????????????????????????, ?????? ???????????????? ???????????????????? ?????????? ??????????????.
                        ???????????? ???????? ???????????? `uuid` ?????? `login`.
                        ???????????????????? ????????:
                        `workingAreaList` -- ???????? ?????????????????????????????? ????????????????????????
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UpdateUserWorkingAreasResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ?????????????????? ?????? ?????????????????????????????? ????????????????????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>????????????????????????, ?????? ???????????????? ???????? ???????????????? ???????? ??????????????????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnbindBusinessEntityUserRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????? ???????????????????????? (?????????????????????? ???????????????????????? ???? ????-??????????????????)</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>????????????????????????, ???????????????? ???????????????????? ??????????????.
                        ???????????? ???????? ???????????? `uuid` ?????? `login`.
                     </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="UnbindBusinessEntityUserResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ???????????????? ????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="vd:user">
            <xs:annotation>
              <xs:documentation>????????????????????????, ?????????????? ?????? ?????????????????? ???? ????-??????????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetAppliedUserAuthorityListRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ?????????????????? ???????????? ?????????????????? ?????????? ????????????????????????.
            ?? ?????????? ???? ???????????? ?????????? ?????????????????????? ???????????? ?????????? ?? ???? ???????????????? ?????? ???????????????????????? ???????????????????????????? ????????????????.
         </xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="merc:MercuryApplicationRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="bs:listOptions">
            <xs:annotation>
              <xs:documentation>?????????????????? ???????????????????????????? ????????????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="GetAppliedUserAuthorityListResponse">
    <xs:annotation>
      <xs:documentation>?????????? ???? ?????????????????? ???????????? ?????????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="apl:ApplicationResultData">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" ref="vd:authorityList">
            <xs:annotation>
              <xs:documentation>???????????? ?????????????????? ?????????? ???????????????????????? ????.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>